header{
    background: linear-gradient(
        to left,
        red,
        orange
    );
    list-style: none;
    display: flex;
    align-items: center;
}

ul{
   list-style: none;
    display: flex; 
}
ul li{
    list-style: none;
    display: flex;
    margin: 30px;
    color: rgb(202, 55, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

ul li:hover{
    color: rgb(107, 81, 10);
    font-size: xx-large;
    cursor: pointer;
}
footer{
   background: linear-gradient(
        to right,
        rgb(245, 180, 180),
        rgb(255, 254, 180)
    );
}
.imagenfondo{
    background-image: url(ImagenFondo.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.fondooscuro{
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    width: 50%;
    border-radius: 25px;
}
h2{
    color: antiquewhite;
    font-size: large;
} 
.boton{
    color: orange;
    background-color: red;
    padding: 15px 90px;
    font-size: medium;
    border-radius: 30px;
    cursor: pointer;
    
}  
.boton:hover{
    color: bisque;
    transition: scale(1.1);
    cursor: pointer;
    font-weight: bold;
    
    
}